

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Krona One', sans-serif;
}

body{
background-color: black;
display: flex;
}

.kategori-billeder {
    width: 50%;
}

#forside-billede img {
    width: 100%;
}

#forside-billede-web {
    display: none;
}

.active img {
    width: 8rem;
}

h1 {
    font-size: 2rem;
    position: absolute;
    padding-top: 2.5rem;
    padding-left: 1.1rem;
}

h1 span {
    color: #EF8A37;
   padding-left: 4rem;
} 

h3,h2 {
    font-size: 2rem;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #mylinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #mylinks a {
    text-align: center;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    font-size: 2.5rem;
  }

 #burgermenu {
    font-size: 2.5rem;
    transition: .6s;
 }
  
  /* Add a grey background color on mouse-over */
  #mylinks a:hover {
    background-color: #EF8A37;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
  }





/* Kategori billeder */

#forside-kategori a{
    background-color:white;
    border-radius: 5px;
    padding: 0.3rem 0.9rem;
    font-size: 1rem;
}

#forside-kategori a {
    color: black;
    background-color: #EF8A37;
}

#forside-kategori a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#forside-kategori section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#forside-kategori img {
    margin: 1.5rem;
}


/*GRISK info tekst*/

#grisk-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 3rem;
    text-align: center;
    line-height: 1.5rem;
}

#grisk-info p{
    padding-top: 1rem;
}


footer {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-top: 4rem;
}

footer h4 {
    color: #EF8A37;
}

.social-media ul {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 0;
    margin:0;
    margin-top: 4rem;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-media ul li {
    list-style: none;
    margin:0 15px;
}

.social-media ul li .fa-brands{
    font-size: 25px;
    line-height: 50px;
    transition: .6s;
    color: #EF8A37;
}

.social-media ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: .6s;
}

.social-media ul li a:hover {
    transform: translate(0,-10px);
}

.social-media {
    display: flex;
    align-items: center;
}

/*TATTOO*/

#tattoo-site {
    width: 100%;
    background-color:#3a3939;
}

.aftercare img {
    width: 100%;
}

.tat-artist img {
    width: 15rem;
    display: flex;
}

.tattoo-sektion h4 {
    text-align: center;
    padding-top: 5rem;
}

.tattoo-main {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
}

.tattoo-main p {
    padding-top: 2rem;
}

.artists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
}

.tat-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem 5rem 5rem;
    text-align: center;
}

.tat-artist h5 {
    color: #EF8A37;
    font-size: 1.5rem;
    position: absolute;
    padding-top: 16rem;
}


.tat-artist .instagram-link {
    color: #EF8A37;
    position: absolute;
    padding-top: 18rem;
}

.book-nu {
    background-color: #EF8A37;
    color: black;
    margin-top: 1.5rem;
    padding: 0.7rem;
}

.book-nu a:hover{
    cursor: pointer;
}

.tat-artist p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.aftercare {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    padding-bottom: 5rem;
}
.aftercare h4 {
    padding-bottom: 1.5rem;
}

.aftercare p {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    line-height: 1.5rem;
}

.opening-hours p { 
    padding: 1rem 1rem;
}

.opening-hours h4 {
    padding-bottom: 1rem;
}

.times {
    line-height: 5rem;
    padding: 2rem 0rem;
}

#tattoo-site h4 {
    font-size: 1.5rem;
}

#tattoo-site span {
    color: #EF8A37;
}

.artists .book-nu:hover {
    background-color: white;
}

.book-nu {
    border-radius: 0.9rem;
}




/*Galleri site*/

#galleri-site {
    width: 100%;
    background-color: #3a3939;
    padding-bottom: 10rem;
}

.column img {
    width: 100%;
    padding: 1rem 1.5rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    max-width: 50%;
}

#galleri-site h3, p {
    text-align: center;
}

#galleri-site h3 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#galleri-site p {
    padding-bottom: 3rem;
}

.galleri-tekst {
    padding: 3rem 5rem;
}

#galleri-site span {
    color: #EF8A37;
}

.udforsk-galleri a{
    background-color: #EF8A37;
    color: black;
    margin-top: 1.5rem;
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.udforsk-galleri {
    text-align: center;
}

.udforsk-galleri a:hover {
    background-color: white;
}


/* OM OS side */

#om-os-site {
    width: 100%;
    background-color: #3a3939;
}

#om-os-site h3 {
    text-align: center;
    padding-top: 1.5rem;
}

#om-os-site span {
    color: #EF8A37;
}

.om-os-main {
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    text-align: center;
    line-height: 1.7rem;
}

.om-os-main img {
    width: 50%;
    height: 25rem; 
    width: 25rem;
    margin: auto;
    padding-bottom: 2rem;
}

.om-os-main p {
    padding-bottom: 4rem;
}




/* Media query */

@media screen and (min-width: 706px) {
    #mylinks {
        display: flex;
        flex-direction: row;
    }

    .topnav #mylinks {
        display: flex;
    }

    #forside-billede img {
        width: 100%;
    }

    #mylinks li a:hover {
        text-decoration: underline #EF8A37;
        background-color: black;
        color: white;
    }
    
    .topnav {
        display: flex;
        flex-direction: row;
        background-color: black;
    
    }

    #mylinks li {
        display: flex;
       margin:auto;
    }

    .topnav a.icon {
        display: none;
    }


    h1 {
        font-size: 280%;
        margin-left: 1.5rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    #grisk-info p {
        padding: 2rem 5rem;
        font-size: larger;
    }

    #grisk-info h3 {
        padding: 2rem 5rem;
    }

    #forside-billede-web {
        display: block;
    }

    #forside-billede-mobile {
        display: none;
    }

    #burgermenu {
        display: none;
    }

    .forside-billeder {
        width: 50%;
    }

    #forside-kategori {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #forside-kategori section {
        margin: 0;
    }

}



@media screen and (max-width: 987px) {
    .artists {
        display: flex;
        flex-wrap: wrap;
    }

    .tat-artist {
        flex: 33.3%;
        max-width: 33.3%;
    }

    #mylinks li a {
        font-size: 1rem;
    } 
}

@media screen and (min-width: 987px) {
    #mylinks li a {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 4rem;
        margin-left: 1.5rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        flex: 25%;
        max-width: 25%;
    }

    .galleri-tekst {
        padding: 4rem 13rem 2rem 13rem;
    }

    .artists {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .tat-artist {
        flex: 33.3%;
        max-width: 33.3%;
    }

    .om-os-main {
        display: flex;
        flex-direction: row;
        padding: 3rem;
    }

    .om-os-main p {
        padding: 2rem;
    }

}

